*~

*.html
*.xise
*.gise
*.xreport
*.xmsgs
*.xml
*.bld
*.cmd_log
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.par
*.pcf
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.bin
*.ref
*.log
*.drc
*.csv
*.xrpt
*.lst
*.bgn
*.bit
*.xbcd
*.ngm
*.mrp
*.map
*.txt

/iseconfig
/ipcore_dir
/_xmsgs

