# PlanAhead Generated physical constraints 

//on the 6-pin header JA
NET "Seconds[0]" LOC = T14;
NET "Seconds[1]" LOC = R13;
NET "Seconds[2]" LOC = T13;

//on the 6-pin header JB
NET "Seconds[3]" LOC = T12;
NET "Seconds[4]" LOC = T12;
NET "Seconds[5]" LOC = R11;

//on the 16-pin header J8
NET "Minutes[0]" LOC = P16;
NET "Minutes[1]" LOC = P15;
NET "Minutes[2]" LOC = T7;
NET "Minutes[3]" LOC = R5;
NET "Minutes[4]" LOC = N15;
NET "Minutes[5]" LOC = J16;

NET "Hours[0]" LOC = K16;
NET "Hours[1]" LOC = K15;
NET "Hours[2]" LOC = L15;
NET "Hours[3]" LOC = M16;
NET "Hours[4]" LOC = M15;

NET "clk"  LOC = A8;
